/* it help to avoid horizontal and veritical scrolling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

body {
  /*? Linear Gradient --> In this we provide direction or degrees and two main color as red blue and even we can add multiple color */

  /*? degree are -- left=90deg, top=180, right=270deg  bottom=360deg  */
  /* background-image: linear-gradient(45deg, red, blue); */

  /* Directions */
  /*?  to Right : Color move from left to right direction left ➡ right  */
  /* background-image: linear-gradient(to right, red, blue); */

  /*?  to left : Color move from right to left direction right ⬅ left  */
  /* background-image: linear-gradient(to left, red, blue); */

  /*?  to Right top: Color move from left to right top direction left ↗ right top  */
  /* background-image: linear-gradient(to right top, red, blue); */

  /*?  to left top : Color move from right to left top direction right ↖ left top  */
  /* background-image: linear-gradient(to left top, red, blue); */

  /*? Multiple color  */
  /* background-image: linear-gradient(
    to right,
    red 20%,
    orange 20% 40%,
    yellow 40% 60%,
    green 60% 80%,
    blue 80%
  ); */

  /*? Multiple color direction */
  /* background-image: linear-gradient(
    to right top,
    red 20%,
    orange 20% 40%,
    yellow 40% 60%,
    green 60% 80%,
    blue 80%
  ); */

  /*? Gradient Turn -- turn you can replace with degreee 0.25 to 90deg */
  /* background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */

  /*?Repeating-linear-gradient - we require a px or percentage value */
  /*? Repeat - Linear Gradient without direction  */
  /* background-image: repeating-linear-gradient(#f69d3c, #3f87a6 50px); */

  /*? Repeat - Linear Gradient with direction  */
  /* background-image: repeating-linear-gradient(to right top, #f69d3c, #3f87a6 100px); */

  /*? Gradient With RGB Value */

  /* background-image: linear-gradient(
    217deg,
    rgba(255, 0, 0, 0.2),
    rgba(69, 44, 153, 0.1)
  ); */

  /*? Gradient with backgroung Image  */

  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.2),
      rgba(69, 44, 153, 0.6)
    ),
    url("/Media/Image/css/brand.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
