nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

ul {
  list-style: none;
}
li {
  padding: 5px;
}

li.link::after {
  content: url(/Media/SVG/down-arrow.svg);
  padding: 5px;
  vertical-align: middle;
}
