* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.parent {
  /* position: static; */
  border: 2px solid red;
  margin: 80px;
  padding: 40px;
}
.box {
  width: 80vw;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}
.box1 {
  background-color: antiquewhite;

  /* Position Sticky Example */
  position: sticky;

  /* Position Absoulte Example */
  /* position: absolute;
  top: 0px;
  /* bottom: 10px; */
  /* left: 10px; */
  /* right: 10px; */
  height: 25vh;
  top: 0px;
  z-index: 1;
}

.box2 {
  background-color: aqua;
  position: relative;
  top: 20px;
  left: 100px;
}
.box3 {
  background-color: rgb(191, 220, 162);
}
.box4 {
  background-color: cadetblue;
  position: fixed;
  bottom: 0px;
  /* width: 30px; */
  height: 25vh;
}
