/*? Text Shadow:- The text-shadow property allows you to add a shadow effect to text characters. */
/* - It takes three values: horizontal shadow offset, vertical shadow offset, and the shadow color. */

body {
  background-color: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
  font-family: "Urbanist", sans-serif;
}

.hero-section {
  width: 50%;
}

h1 {
  font-size: 54px;
  font-weight: 900;
  /*?textpropertiesstartshere*/
  text-align: left;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-color: red;
  -moz-text-decoration-color: red;
  text-decoration-thickness: 10px;
  text-decoration-style: solid;
  -moz-text-decoration-style: solid;
  text-transform: capitalize;

  /* Text Shadow */
  text-shadow: -2px -2px 5px rgba(255, 0, 0, 0.2);
}
